<h4 class="sidebar-summary">{{localize "PF2E.AncestryItem.Summary"}}</h4>

<ol class="item-tags">
{{#each data.traits.selected as |v|}}
    <li class="tag">{{v}}</li>
{{/each}}
<li class="tag">{{rarity}}</li>
</ol>

